body{
    background-color: #ffffe6;
    animation: color-change 4s infinite;
}
@keyframes color-change {
    0% { background-color: white; }
    25% { background-color: #ffffe6; }
    50% { background-color: wheat; }
    75% {background-color: #ffffe6;}
    100% {background-color: white;}
}

button{
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}