table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.input_details {
    margin: auto;
    align-items: center;
    font-weight: bold;
}

input{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
body{
    background-color: #ffffe6;
}