body{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
    background-color: #ffffe6;
}

.NavigationBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004d00;
}

.NavigationBar ul li {
    font-family: sans-serif;
    float: left;
}

.NavigationBar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #004d00;
}



.profilepic {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 60%;
    width: 15%;
    height: 15%;
}